.wrapper {
  @media (max-width: 780px) {
    margin: 0 30px;
  }
}

.dot {
  color: var(--mui-palette-secondary-300);
  font-size: 96px;
}

@media (max-width: "1095px") and (min-width: 780px) {
  .wrapper {
    margin-left: 100px;
  }
}

@media (max-width: 780px) {
  .wrapper {
    margin-top: 44px;
  }

  .dot {
    font-size: 48px;
    font-weight: 800;
  }
}
