.wrapper {
  /* margin-top: 130px; */

  @media (max-width: 780px) {
    margin: 0 30px;
  }
}

.dot {
  color: #ea592a;
  font-size: 96px;
}

.text {
  font-size: 96px;
  font-weight: 600;
}

@media (max-width: "1095px") and (min-width: 780px) {
  .wrapper {
    margin-left: 100px;
  }
}

@media (max-width: 780px) {
  .wrapper {
    margin-top: 44px;
  }

  .text {
    font-size: 48px;
  }

  .dot {
    font-size: 48px;
    font-weight: 800;
  }
}
