.sideBarDrawer {
  @media (min-width: 1094px) {
    display: none;
  }
}

@media (max-width: 1094px) {
  .closeBar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    color: var(--mui-palette-neutral-50);
    padding: 28px 28px 28px 0;
  }

  .filtersWrapper {
    padding: 0px 32px 40px 32px;
  }

  .filtersText {
    font-size: 24px;
    font-weight: 600;
  }

  .categoriesText {
    font-size: 16px;
    font-weight: 600;
    padding-block: 48px 32px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
  }

  .category {
    font-size: 16px;
    color: var(--mui-palette-neutral-500);
  }

  .statusesText {
    font-size: 16px;
    font-weight: 600;
    padding-block: 40px 32px;
  }

  .statuses {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 64px;
  }

  .showButton {
    height: 52px;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    color: var(--mui-palette-neutral-50);
    background-color: var(--mui-palette-neutral-50);
    margin-bottom: 24px;
  }

  .cancelButton {
    height: 52px;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
    color: var(--mui-palette-neutral-50);
    border: 1px solid var(--mui-palette-neutral-50);
  }

  .checkboxColor {
    color: var(--mui-palette-neutral-50);
  }
}
