.sideBarDrawer {
  @media (min-width: 1094px) {
    display: none;
  }
}

@media (max-width: 1094px) {
  .closeBar {
    height: 80px;
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    color: #0a0c0e;
    padding: 28px 28px 28px 0;
  }

  .filtersWrapper {
    padding: 0px 32px 40px 32px;
  }

  .filtersText {
    font-weight: 600;
  }

  .categoriesText {
    font-weight: 600;
    padding-block: 48px 32px;
  }

  .categories {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 40px;
  }

  .category {
    color: #353c43;
  }

  .statusesText {
    font-weight: 600;
    padding-block: 40px 32px;
  }

  .statuses {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 64px;
  }

  .showButton {
    height: 52px;
    width: 100%;
    border-radius: 0;
    text-transform: none;
    color: #ffffff;
    background-color: #0a0c0e;
    margin-bottom: 24px;
  }

  .showButtonText {
    font-weight: 600;
  }

  .cancelButton {
    height: 52px;
    width: 100%;
    border-radius: 0;
    text-transform: none;
    color: #0a0c0e;
    border: 1px solid #0a0c0e;
  }

  .cancelButtonText {
    font-weight: 600;
  }

  .checkboxColor {
    color: #0a0c0e;
  }
}
