.sideBarDrawer {
  @media (min-width: 780px) {
    display: none;
  }
}

@media (max-width: 1000px) {
  .searchTextField ::placeholder {
    font-weight: 600;
    color: var(--mui-palette-neutral-50);
    opacity: 1;
  }

  .searchTextField {
    margin-left: 0;
    padding-bottom: 15px;
  }

  .closeBar {
    height: 80px;
    background-color: var(--mui-palette-neutral-50);
    display: flex;
    justify-content: flex-end;
  }

  .closeIcon {
    color: var(--mui-palette-neutral-50);
    padding: 28px 28px 28px 0;
  }

  .menuWrapper {
    padding: 48px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .menuItemsWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 48px;
  }

  .menuItemsText {
    font-weight: 600;
    color: var(--mui-palette-neutral-50);
  }

  .maxWidth {
    width: 100vw;
  }

  .searchIconWrapper {
    padding-left: 0;
    color: var(--mui-palette-neutral-50);
  }

  .loggedUsername {
    font-weight: 600;
    padding-top: 20px;
  }

  .loggedEmail {
    padding-bottom: 22px;
    color: var(--mui-palette-neutral-400);
  }

  .logoutWrapper {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
  }

  .logoutIcon {
    font-size: 18px;
    padding-right: 8px;
    padding-top: 1px;
  }

  .logoutText {
    padding-bottom: 48px;
  }

  .notificationBadgeResponsive {
    background: var(--mui-palette-secondary-300);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 152px;
    margin-top: -30px;
  }

  .notificationWrapperResponsive {
    margin-left: 0;
  }
}
