.status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 16px;
  text-align: center;
  border: none;
  border-radius: 17px;
  margin: 2px;
}

.statusText {
  font-weight: 500;
}

.green {
  background-color: var(--mui-palette-tertiary-100);
  color: var(--mui-palette-success-300);
}

.yellow {
  background-color: var(--mui-palette-warning-100);
  color: var(--mui-palette-warning-300);
}

.red {
  background-color: var(--mui-palette-secondary-100);
  color: var(--mui-palette-error-300);
}

.grey {
  background-color: var(--mui-palette-neutral-100);
  color: var(--mui-palette-neutral-500);
}
