.status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 16px;
  text-align: center;
  border: none;
  border-radius: 17px;
  margin: 2px;
}

.statusText {
  font-weight: 500;
}

.green {
  background-color: #eff9f6;
  color: #117859;
}

.yellow {
  background-color: #fff7e7;
  color: #815305;
}

.red {
  background-color: #fff4f0;
  color: #a71515;
}

.grey {
  background-color: #f1f5f8;
  color: #0a0c0e;
}
