.catalogueWrapper {
  margin-block: 160px;
}

.titleButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
  align-items: center;
}

.suggestButton {
  height: 44px;
  width: 164px;
  background-color: var(--mui-palette-neutral-100);
  border-radius: 0;
  font-weight: 600;
  text-transform: none;
  color: var(--mui-palette-neutral-600);
}

.categoryStatusWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 94px;
}

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 16px;
}

.category {
  border: 1px solid var(--mui-palette-neutral-200);
  border-radius: 2000px;
  padding: 12px 24px 12px 24px;
  font-weight: 500;
  margin-right: 12px;
  margin-bottom: 12px;
  color: var(--mui-palette-neutral-500);
  text-transform: none;
  background-color: var(--mui-palette-neutral-50);
}

.clicked {
  color: var(--mui-palette-neutral-600);
  border: 1px solid var(--mui-palette-neutral-600);
}

.sortByWrapper {
  display: flex;
  flex-direction: row;
  width: 270px;
  margin-left: 30px;
  padding-block: 12px;
}

.sortBy {
  width: 65px;
  padding-top: 16px;
  color: var(--mui-palette-neutral-500);
}

.allStatusesMenuItem {
  font-style: normal;
}

.statusForm {
  font-weight: 800;
}

.suggestButtonText {
  font-weight: 600;
}

.applyFilersButton {
  height: 44px;
  width: 164px;
  border-radius: 0;
  text-transform: none;
  color: var(--mui-palette-neutral-600);
  border: 1px solid var(--mui-palette-neutral-600);

  @media (min-width: 1094px) {
    display: none;
  }
}

.applyFiltersButtonText {
  font-weight: 600;
}

.checkboxColor {
  color: var(--mui-palette-neutral-600);
}

@media (max-width: 1094px) {
  .catalogueWrapper {
    margin-inline: 100px;
    margin-block: 64px;
  }

  .categoryStatusWrapper {
    display: none;
  }

  .dividerCatalogue {
    display: none;
  }

  .titleButtonWrapper {
    display: block;
    margin-bottom: 0;
  }

  .suggestButton {
    margin-block: 24px;
  }
}

@media (max-width: 780px) {
  .catalogueWrapper {
    margin-inline: 32px;
  }

  .catalogueText {
    font-weight: 600;
    margin-bottom: 48px;
  }

  .suggestButton {
    width: 100%;
  }

  .applyFilersButton {
    width: 100%;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 120px;
  column-gap: 40px;
  margin-top: 40px;

  @media (max-width: 780px) {
    margin-top: 40px;
  }
}
