.catalogueWrapper {
  margin-inline: 320px;
  margin-top: 160px;
}

.titleButtonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
}

.catalogueText {
  font-size: 36px;
  font-weight: 600;
}

.suggestButton {
  height: 44px;
  width: 164px;
  background-color: #f1f5f8;
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  color: #0a0c0e;
}

.categoryStatusWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 110px;
}

.categoriesWrapper {
  display: flex;
  flex-wrap: wrap;
}

.category {
  /* margin-left: 100px; */
  border: 1px solid #e9eef1;
  border-radius: 2000px;
  padding: 12px 24px 12px 24px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 12px;
  margin-bottom: 12px;
  color: #353c43;
  text-transform: none;
  background-color: white;
}

.clicked {
  color: #0a0c0e;
  border: 1px solid #0a0c0e;
}

.sortByWrapper {
  display: flex;
  flex-direction: row;
  width: 220px;
  margin-left: 50px;
  padding-block: 12px;
}

.sortBy {
  font-size: 16px;
  font-weight: 400;
  width: 58px;
  padding-top: 4px;
  padding-right: 8px;
  color: #353c43;
}

.allStatusesMenuItem {
  font-style: normal;
}

.statusForm {
  font-weight: 800;
  /* color: rgba(0, 0, 0) !important; */
}

/* .menuItem {
  font-size: 16px;
  font-weight: 400;
} */

/* .statusForm .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0) !important;
}

.statusForm .MuiSvgIcon-root {
  color: rgba(0, 0, 0) !important;
} */
