.ratingWrapper {
  width: 56px;
  height: 32px;
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}

.star {
  width: 24px;
  height: 24px;
}

.rating {
  font-weight: 500;
  text-align: left;
}
