.logo {
  margin-left: 160px;
  width: 172px;
  height: 24px;
}

.appBar {
  background: var(--mui-palette-neutral-50);
  height: 110px;
  box-shadow: none;
}

.toolBar {
  height: 110px;
  padding: 0;
}

.dropDownMenu {
  width: 100%;
  padding: 15px;
}

.userEmail {
  color: var(--mui-palette-neutral-400);
  font-weight: 400;
}

.userName {
  font-weight: 600;
}

.dropDownNotificationMenu {
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 32px;
}

.notificationsIcon {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.signOutIcon {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.menuNotification {
  margin-left: 8px;
}

.box {
  flex-grow: 1;
}

.menuItemsText {
  color: var(--mui-palette-neutral-600);
  text-align: left;
}

.notificationBadge {
  background: var(--mui-palette-secondary-300);
  z-index: 2;
  margin-left: 29px;
  margin-top: -53px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--mui-palette-neutral-50);
  border-radius: 50%;
  position: absolute;
}

.notificationMenuBadge {
  background: var(--mui-palette-secondary-300);
  z-index: 2;
  margin-left: 8px;
  margin-top: -14px;
  width: 10px;
  height: 10px;
  border: 1px solid var(--mui-palette-neutral-50);
  border-radius: 50%;
  position: absolute;
}

.logoIcon {
  padding: 0;
  padding-bottom: 10px;
}

.divider {
  padding-top: 45px;
}

.searchTextField {
  margin-left: 50px;
}

.searchTextField ::placeholder {
  color: var(--mui-palette-neutral-600);
  font-weight: 500;
  opacity: 1;
}

.searchIcon {
  color: black;
}

.notificationWrapper {
  position: relative;
  margin-left: 30px;
}

.MuiTypography-h6 {
  font-weight: 500;
}

.searchWrapper {
  height: 48px;
  margin-top: 48px;
}

.toolBarAddBooks {
  height: 80px;
}

.appBarAddBooks {
  height: 80px;
}

.menuWrapperButton {
  @media (min-width: 780px) {
    display: none;
  }
}

@media (max-width: 780px) {
  .menuItems {
    display: none;
  }

  .searchTextField {
    display: none;
  }

  .toolBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menuWrapperButton {
    margin-inline: 20px;
  }

  .appBar {
    height: 96px;
  }

  .toolBar {
    height: 96px;
  }
}

@media (max-width: 1094px) {
  .logo {
    margin-left: 32px;
    margin-right: 20px;
  }

  .menuItemsText {
    padding-left: 0;
    padding-right: 0;
  }

  .searchTextField {
    margin-left: 25px;
  }
}

.backButton {
  margin-left: 20px;
}
