.wrap {
  display: flex;
  gap: 160px;
}

.imgHolder {
  position: relative;
  padding: 160px 0 160px 145px;
  display: flex;
}

.imgLogo {
  z-index: 2;
  height: 132px;
  border-radius: 100%;
  margin-right: -65px;
  margin-top: -66px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 640px;
  max-width: 510px;
  min-width: 300px;
}

.contentHolder {
  padding-block: 218px;
  max-width: 730px;
}

.helloText {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #353c43;
}

.libraryText {
  font-weight: 600;
  font-size: 80px;
  line-height: 104px;
  color: #0a0c0e;
}

.longText {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #353c43;
}
