.loginPageContainer {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.loginPageImageHolder {
  position: relative;
  margin-top: 120px;
  margin-left: 14%;
  min-width: 414px;
  display: flex;
  flex-direction: column;
}

.imageLogo {
  z-index: 2;
  width: 25.5%;
  background: var(--mui-palette-neutral-50);
  border-radius: 100%;
  margin-left: -12.5%;
  margin-top: -13%;
  position: absolute;
}

.loginScreenImage {
  width: 100%;
  height: auto;
  min-height: 550px;
  max-height: 640px;
  max-width: 510px;
  position: relative;
}

.wrapper {
  line-height: clamp(28px, 4vw + 10px, 60px);
  width: 80%;
  margin-top: 22px;
}
.loginContentHolder {
  display: flex;
  flex-direction: column;
  padding-block: 10%;
  max-width: 730px;
  min-width: 400px;
}

.helloText {
  display: flex;
  flex-direction: column;
  color: var(--mui-palette-neutral-500);
}

.loginPageHeading {
  flex-direction: column;
  color: var(--mui-palette-neutral-500);
}

.dot {
  font-size: 80px;
  color: var(--mui-palette-secondary-300);
  font-weight: 600;
}

.loginPageContent {
  display: flex;
  flex-direction: column;
  color: var(--mui-palette-neutral-500);
  width: 70%;
  margin-top: 48px;
  margin-bottom: 80px;
}

.loginButton {
  border: transparent;
  background-color: var(--mui-palette-neutral-100);
  margin-top: -7px;
  width: 330px;
  height: 68px;
  padding: 0;
}

@media (max-width: 1100px) {
  .loginPageContainer {
    margin-bottom: 32px;
    margin-left: 32px;
    flex-direction: column;
    gap: 0;
  }
  .loginPageImageHolder {
    padding: 0;
    margin: 0;
  }

  .imageLogo {
    width: 80.76px;
    height: 82px;
    margin-left: -8px;
    margin-top: 110px;
    margin-bottom: 40px;
  }

  .wrapper {
    flex-direction: column;
  }

  .loginScreenImage {
    display: none;
  }
  .loginContentHolder {
    font-weight: 400;
    padding-block: 0px;
    line-height: 28px;
    color: var(--mui-palette-neutral-500);
    width: 80%;
    margin-top: 254px;
    margin-bottom: 20px;
  }

  .dot {
    font-size: 48px;
  }

  .loginPageContent {
    margin-top: 26px;
    width: 80%;
    margin-bottom: 34px;
  }

  .loginButton {
    margin-top: 13px;
  }
}

@media (min-width: 1600px) {
  .loginPageContainer {
    gap: 160px;
  }
}
