.imgDropWrapper {
  border: 1px dashed var(--mui-palette-neutral-500);
  padding: 20px;
  width: 330px;
  height: 420px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 950px) {
    margin-top: 0;
  }
  @media (max-width: 460px) {
    width: 100%;
  }
}

.imgUploadedWrapper {
  border: none;
  padding: 20px;
  width: 330px;
  height: 420px;
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mui-palette-neutral-100);
  position: relative;
  @media (max-width: 950px) {
    margin-top: 0;
  }
  @media (max-width: 460px) {
    width: 100%;
  }
}

.imgDropText {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 8px 0px;
  @media (max-width: 460px) {
    justify-content: center;
  }
}

.imgDropTextUnderline {
  font-weight: 600;
  text-decoration: underline;
}

.imgDropTextFilesAllowed {
  color: var(--mui-palette-neutral-300);
}

.coverImgWrapper {
  height: 200px;
  width: 140px;
}

.coverImg {
  height: 200px;
  width: 140px;
  object-fit: cover;
}

.editImgButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--mui-palette-neutral-50);
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
}
